Bottleneck
brotlipy==0.7.0
certifi==2021.5.30
cffi
click
colorama
dash
dash-core-components==1.3.1
dash-html-components==1.0.1
dash-renderer==1.1.2
dash-table==4.4.1
Flask
Flask-Compress==1.5.0
future
gunicorn==20.1.0
itsdangerous
Jinja2
joblib
MarkupSafe
numexpr
numpy
pandas
plotly
pycparser
python-dateutil
pytz
PyYAML==5.4.1
retrying==1.3.3
scikit-learn
scipy
six
threadpoolctl
Werkzeug
wincertstore==0.2
