Bottleneck @ file:///C:/ci/bottleneck_1607557040328/work
brotlipy==0.7.0
certifi==2021.5.30
cffi @ file:///C:/ci/cffi_1625831756778/work
click @ file:///D:/bld/click_1621503904640/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
dash @ file:///tmp/build/80754af9/dash_1611168717544/work
dash-core-components==1.3.1
dash-html-components==1.0.1
dash-renderer==1.1.2
dash-table==4.4.1
Flask @ file:///home/conda/feedstock_root/build_artifacts/flask_1621629915293/work
Flask-Compress==1.5.0
future @ file:///C:/ci/future_1607568713721/work
gunicorn==20.1.0
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1621360792037/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1621419064915/work
joblib @ file:///tmp/build/80754af9/joblib_1613502643832/work
MarkupSafe @ file:///D:/bld/markupsafe_1621455953770/work
mkl-fft==1.3.0
mkl-random @ file:///C:/ci/mkl_random_1626186184308/work
mkl-service==2.4.0
numexpr @ file:///C:/ci/numexpr_1618856728739/work
numpy @ file:///C:/ci/numpy_and_numpy_base_1626271900803/work
pandas @ file:///C:/ci/pandas_1626784227284/work
plotly @ file:///tmp/build/80754af9/plotly_1610565580232/work
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz @ file:///tmp/build/80754af9/pytz_1612215392582/work
PyYAML==5.4.1
retrying==1.3.3
scikit-learn @ file:///C:/ci/scikit-learn_1622739499047/work
scipy @ file:///C:/ci/scipy_1618856124610/work
six @ file:///tmp/build/80754af9/six_1623709665295/work
threadpoolctl @ file:///tmp/build/80754af9/threadpoolctl_1626115094421/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1621518206714/work
wincertstore==0.2
