<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div class="search">
    <form method="POST">
        <label for="player"> Get NBA projection for player:</label>
        <input type="text" id="player" name="player"> &nbsp;
        <input type="submit" value="Search"><br><br><br>
        (Note: Player must have played in the NCAA and declared for 2021 NBA draft. E.g. "Evan Mobley")
    </form>
</div>
<br>
<a href="/dashboard/">Data Visualization</a>
</body>
</html>